@page
@model IndexModel
@{
    ViewData["Title"] = "Task 3";
}

<div class="text-center">
    <h5 class="display-4">Task 3: Deploy your ASP.Net Core application to your local IIS server.</h5>
    <p>GitHub Repo <a href="https://github.com/aldakul/NETMentoringProgramIntermediate2022Q3/tree/main">Click Here</a></p>
</div>
